<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>chatworld_app</display-name>
  

  
  
  <welcome-file-list>
  
  
    <welcome-file>index.jsp</welcome-file>
    <!-- 
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  	 -->
  </welcome-file-list>
  <context-param>
  	<param-name>database</param-name>
  	<param-value>database/Database.java</param-value>
  </context-param>
  
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/check_user</url-pattern>
  </servlet-mapping>
   
   <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>servlets.Check_user</servlet-class>
  </servlet>
  
   <servlet-mapping>
  	<servlet-name>cde</servlet-name>
  	<url-pattern>/add_user</url-pattern>
  </servlet-mapping>
   
   <servlet>
  	<servlet-name>cde</servlet-name>
  	<servlet-class>servlets.Add_user</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>add_Post</servlet-name>
  	<url-pattern>/add_post</url-pattern>
  </servlet-mapping>
   
   <servlet>
  	<servlet-name>add_Post</servlet-name>
  	<servlet-class>servlets.AddPost</servlet-class>
  </servlet>
  
  
</web-app>